/* CSS! */

/* Just learned: could have just put here a *:not(.margin-padding-saviour):not(ol) */
*:not(.margin-padding-saviour) {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

body {
  background-color: #f2de7c;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;

  display: flex;
  flex-direction: column;
}

#page-container-and-content-wrap {
  position: relative;
  min-height: 100vmin;
  padding-bottom: 2.5rem; /* Footer height! */
  margin: 1em;
}

header {
  /* flex: box; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

header.header-border {
  border: 2rem outset black;
  border-radius: 5em;
  padding: 1rem;
  background: linear-gradient(90deg, #FA5ED2, #F69326, #FDDF1B, #7FF23E, #37D6E9);
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

.nav-main-aside-container {
  margin-top: 30px;
  gap: 25px;
  
  display: flex;
  flex-flow: row nowrap;
  /* align-items: stretch; */
  align-content: stretch;
}

div.nav-main-aside-container > nav {
  border: 10px solid black;
  padding: 20px;
  flex: 30%;

  display: flex;
  align-content: stretch;
  flex-flow: column wrap;
}

div.nav-main-aside-container > main {
  border: 10px solid black;
  padding: 20px;
  flex: auto;
}

div.nav-main-aside-container > aside {
  border: 10px solid black;
  padding: 20px;
  flex: 30%;
}

div#footer-paster {
  display: flex;
  flex-direction: column;

  margin: 1em; /* So that it matches #page-container-and-content-wrap even outside of it */
  margin-bottom: 0;
}

div.cooler-footer {
  display: flex;

  border-top: 0.5mm dashed gray;
  border-bottom: 0.5mm dashed gray;
  padding-top: 2.5mm;

  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;

  /* flex: 1 1 0%; */
}

footer.footer-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  
  /* flex: 1 1 0%; */
}

div.post-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5mm dashed gray;
  /* margin-bottom: -50px; */
  /* margin-bottom: -0.5em; */

  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;

  /* flex: 1 1 0%; */
}

/********************************************* NOTEBOOK STYLE *********************************************/

div.nav-main-aside-container > main.notebook {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-left: 20vw;
  padding-right: 20vw;

}

main.notebook > p {
  white-space: pre-wrap; /* Adds tabulators without breaking the text wrapping */
}