* {
  margin: 0;
  padding: 0;
}

/************************ RESPONSIVE SETUP */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

/* Mobile very small & small */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

/* Landscape tablet medium setup */
@media only screen and (min-width: 768px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Laptop setup */
@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/************************ NAVBAR STYLE */
/* I have no idea how this works, so I'm leaving it out until I know what I'm doing */
nav {
  background: #f0fe6e;
  height: 50px;
  display: flex;
  justify-content: center;/*
  align-items: center; */
  font: small-caps 1.8em sans-serif;
}

.navbar__container {
  display: flex; /*
  justify-content: space-between; 
  margin: 0 auto;
  padding: 0 25px; */
} 

navbar__logo {
  display: flex;
} */

img {
  width: 100%;
  max-height: auto;
}

menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 0.5em;
}

/************************ MAIN CONTENT WRAPPER STYLE */
.wrapper {

}

/************************ ASIDE CONTENT STYLE */
aside {

}

/************************ FOOTER STYLE */
footer {
  /* display: flex; */
}
